@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

html {
	font-family: "PT Mono", monospace;
	background-color: #181818;
	color: #ededed;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.modal-popup {
	background: #181818 !important;
	color: #ededed !important;
}

/* MD-Editor */

.editor-container {
	background-color: #181818;
}
.editor-container * {
	color: #ededed !important;
}
.rc-md-editor .editor-container .sec-md .input {
	background-color: #181818 !important;
	color: #ededed !important;
}
code {
	color: #ffffff !important;
	background-color: #3d3c3c !important;
}
pre {
	background-color: #3d3c3c !important;
}

.article-container * * {
	font-family: "PT Mono", monospace !important;
}

/* .modal-confirm-button{
	background-color: #121212 !important;
	border-color: #ededed
}
.
.modal-cancel-button{
	background-color: #121212 !important;
	border-color:

} */
